.header {
    background-color: var(--white);
    margin: 0;
    padding:96px 0 77px;
}

.header__title {
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    color: var(--black);
} 