/* Стилизация кнопки */
.button {
    height: 48px;
    padding: 14px 15px 14px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button_primary {
    background-color: var(--primary);
    color: var(--white);
    transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;   
}

.button_primary:hover {
    background-color: var(--dblue);

}

.button_primary:active {
    background-color: var(--error);
}

.button_secondary {
    background-color: var(--purple);
    color: var(--white);
    transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
}

.button_secondary:hover {
    background-color: var(--dpurple);
}

.button_secondary:active {
    background-color: var(--pink);
}

.button_alternate {
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
    transition: opacity 200ms ease-in-out, border-color 200ms ease-in-out ;
}

.button_alternate:hover {
    background-color: var(--white);
    border-color: var(--black);
}

.button_alternate:active {
    background-color: var(--primary);
    color: var(--white);
}




