.card {
    background-color: var(--white);
    min-height: 367px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
    text-align: center;
    flex-basis: 350px;
}

.card__text {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    color: var(--black);
}

@media screen and (max-width: 400px) {
    .card {
        flex-basis: 164px;
        min-height: 210px;
        
    }
}