/* Стилизация аккордеона */

.accordion__item {
    padding: 24px 32px 24px 32px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    margin-bottom: 8px;
}

.accordion__summary { 
    display: inline-block;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__content {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}