.toggle {
    display: inline-flex;
    position: relative;
}

.toggle__input {
    position: absolute;
    left: -100vw;
    opacity: 0;
}

.toggle__state {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}

.toggle__control {
    width: 52px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 26px;
    display: flex;
    align-items: center;
    
}

.toggle__label {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey-4);
}

.toggle__input:checked ~ .toggle__state
.toggle__control {
    justify-content: flex-end;
    border-color: var(--primary);
    background-color: var(--primary);
}

.toggle__icon {
    width: 24px;
    height: 24px;
    color: var(--grey-2);
}

.toggle__input:checked ~ .toggle__state
.toggle__icon {
    color: var(--white);
}

.toggle__input:focus ~ .toggle__state 
.toggle__label {
    text-decoration: underline;
}

.toggle__input:disabled ~ .toggle__state 
.toggle__label {
    color: var(--grey-4);
    cursor: not-allowed;
}

.toggle__input:disabled ~ .toggle__state 
.toggle__control {
    background-color: var(--grey-2);
    cursor: not-allowed;
}

.toggle__input:disabled ~ .toggle__state 
.toggle__icon {
    color: var(--grey-3);
    cursor: not-allowed;
}



