.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grey-4);
}

.modal__inner {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: 428px;
    max-height: 294px;
    padding: 12px 12px 33px 40px;
    background-color: var(--white);
    text-align: right;
    border-radius: 8px;
}

.modal__title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--title);
    margin-bottom: 14px;
    margin-top: 2px;
}

.modal__text {
    text-align: left;
    color: var(--grey-4);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 28px;
}