.histogram {
    display: flex;
    flex-flow:  row wrap;
    align-content: self-start;
    width: 354px;
    height: 185px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid var(--grey-3);
    border-radius: 12px;
}

.histogram__text {
    flex-basis: 50%;
    max-height: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
    margin-top: 16px;
    margin-bottom: 0;
}

.histogram__number {
    flex-basis: 100%;
    max-height: 26px;
    margin-top: 6px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.histogram__button {
    flex-basis: 50%;
    max-height: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: var(--blue-hist);
    margin-top: 19px;
    margin-bottom: 0;
}

.histogram__element-container {
    flex-basis: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    row-gap: 1px;
}
.histogram__element {
    flex-grow: 1;
    align-self: flex-end;
    min-width: 9px;
    height: 50px;
    background-color: var(--blue-hist);
}

