.histogram {
    display: flex;
    flex-flow:  row wrap;
    align-content: self-start;
    padding: 16px 26px 32px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.histogram__top {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.histogram__bottom {
    height: 115px;
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 39px 1px;
}

.histogram__text {
    display: inline-block;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--black);
    margin: 0;
}

.histogram__number {
    flex-basis: 100%;
    margin: 6px 0 0 0;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.histogram__link {
    display: inline-block;
    max-height: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #4263EB;
    margin-top: 3px;
}

.histogram__element {
    flex-basis: 9px;
    align-self: flex-end;
    flex-grow: 1;
    background-color: #4263EB;
}

