.histogram {
    padding: 16px 24px 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.histogram__top {
       display: flex;
    flex-flow: row nowrap;
}

.histogram__bottom {
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    gap: 1px;
    margin-top: 39px;
}

.histogram__text {
    flex-grow: 1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--black);
    margin: 0;
}

.histogram__number {
    margin: 6px 0 39px 0;
    font-family: "Inter";
    font-size: 20px;
}

.histogram__link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--primary);
    margin-top: 3px;
}

.histogram__element {
    flex-basis: 9px;
    align-self: flex-end;
    flex-grow: 1;
    background-color: var(--primary);
}

.histogram__element_100height {
    height: 100%;
}

.histogram__element_50height {
    height: 50%;
}

.histogram__element_20height {
    height: 20%;
}

.histogram__bottom .histogram__element {
    animation: height 500ms ease-in;
}

@keyframes height {
    0% {
        height: 0;
    }

    100% {
        height: height;
    }
}