.calendar {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 28px 26px 32px 26px;
    max-width: 304px;
}
.calendar__title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--cal-title);
    margin-bottom: 24px;

}

.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    /*max-width: 252px;*/
}

.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Code Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: var(--cal-title);

}

.calendar__item_start {
    color: var(--white);
    background-color: #4263EB;
}

.calendar__item_end {
    color: var(--white);
    background-color: #4263EB;
}

.calendar__item_inter {
    color: var(--white);
    background-color: #A0B1F5;
}

.calendar__item_day {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #A0B1F5;   
}
