.sceleton{
    padding: 24px 40px 32px 20px;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    row-gap: 16px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.sceleton__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
}

.sceleton__circle {
    flex-basis: auto;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    background-size: 200%;
    animation: gradient 1.5s linear infinite;
}

.sceleton__stripes-container {
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 8px;
    padding-top: 8px;
}

.sceleton__bar {
    min-height: 20px;
    min-width: 55%;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    background-size: 200%;
    animation: gradient 1.5s linear infinite;
}

.sceleton__bar_md {
    min-width: 75%;
}

.sceleton__bar_lg {
    min-width: 100%;
}

@keyframes gradient {
    0%{background-position:110% }
    /*50%{background-position:100% 50%}*/
    100%{background-position: 0%}
}
