.sceleton{
    padding-top: 24px;
    padding-left: 20px;
    padding-bottom: 32px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    gap: 24px 16px;
    width: 579px;
    height: 192px;
    border: 1px solid var(--grey-3);
    border-radius: 12px;
}

.sceleton__circle {
    flex-basis: auto;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--grey-3);
}

.sceleton__top {
    margin: auto;
    margin-left: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 8px;
}

.sceleton__bottom{
    margin: auto;
    margin-left: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 8px;
}

.sceleton__bar {
    flex-basis: auto;
    min-height: 20px;
    min-width: 172px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    
}

.sceleton__bar_md {
    min-width: 257px;
}

.sceleton__bar_lg {
    min-width: 515px;
}
