.preview {
    background-color: var(--white-1);
    padding-top: 68px;
    padding-bottom: 68px;
}


@media screen and (max-width: 400px) {
    
    .preview {
        background-color: var(--white-1);
        padding: 24px 15px 0 16px;
    }
}